.example-card{
    margin-left: 30px;
    margin-top: 50px;
        width: 300px;
        height: 450px;
        display: flexbox;
        float: left;
    }
    .container{
        width: 100%;
        margin-right: 120px;
    }
    p{
        font-family: sans-serif;
        text-align: center;
        margin-bottom: 5px;
    }
    .image-card{
        width: 200px;
        margin: auto;
        height: 300px;
    }
    .details{
        font-family: Cambria;
        font-size: 13px;
        float: left;
        height: 50px;
        width: 100px;
        border: none;
       }
       .cart{
        font-family: Cambria;
        font-size: 13px;
        margin-left: 60px;
        float: right;
        height: 50px;
        width: 100px;
        border: none;
       }
       .full{
        display: flex;
       }